* {
    margin: 0%;
    padding: 0;
}

.bg-mirage {
    background-color: #17142a;
}

.row{
    margin-right: 0 !important;
}

/* Make the placeholder more visible */
.ticker-placeholder::placeholder {
    color: #ced4da;
    opacity: 1;
  }

  /* Responsivenss for Navbar */
@media screen and (min-width: 320px) and (max-width: 820px) {
    .sm-hidden {
        display: none !important;
    }
}